header
{
margin:0px;
padding:0px;
width:100%;
background:#FF7488;
text-align: center;
color:white;
font-family: 'Staatliches';
}


.options
{   
background-color:#FFB6AB;
height:30px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-top:solid 2px;
border-bottom: solid 2px;
padding:5px;
}
    
.menuitem
{
flex-grow: 1;
text-align: center;
padding:15px;
color:white;
transition-duration: 1.0s;
}

.menuitem:hover
{
background-color: rgba(156, 156, 156, 0.438);
border-radius:10px;}

body
{
background-c: url("images/background.jpg") ;
background-attachment: fixed;
background-repeat:no-repeat;
background-size:cover;
color:white;
}

.solution 
{

display: flex;
flex-direction: column;
justify-content: space-between;
margin:50px;
padding:60px;
border:2px solid white;
text-align: justify;
background-color:#ffe6e6;


} 
.sol
{ 
  position: relative;
  height: 800px;
  min-height:100%;
  min-width:100%;
  background-size:cover;
  background-attachment: fixed;
  background-position: right-top;
  background-repeat: no-repeat;
  background-size: cover;
}

.h2{
	    text-align:center;
		font-family: 'Indie Flower', cursive;
}

.h2{
	    text-align:center;
		font-family: 'Indie Flower', cursive;
}



.solution1
{
display: flex;
flex-direction: row;
margin:50px;
padding:60px;
border:5px solid black;
text-align: justify;
background-color:#ffe6e6;
position: relative;
height:650px;
width:auto;

}

.solution1_info p
{
  margin:0px;
 text-align: justify;
 position: left;
  padding-bottom:60px;
}

.raphael-solution-content-text-title {
  font-family:'Staatliches';
  color:black;
  font-weight:300;
  font-size:40px;
  margin:0px;
  padding-bottom:60px;
  line-height:0.8;
  text-align:justify;
  position: left;
  
}

.raphael-solution-content-text{
 font-family: 'Open Sans';
 color:black;
 font-size:20px; 
  margin:0px;
  padding-bottom:100px;
  line-height:1.5;
}	

.solution2
{
display: flex;
flex-direction: row;
margin:50px;
padding:60px;
border:5px solid black;
text-align: justify;
background-color:#ffe6e6;
position: relative;
max-height:700px;
width:auto;
justify-content: space-between;

}

.solution2_info p
{
  margin:0px;
 text-align: justify;
 position: left;
  padding-bottom:60px;
}
.solution3
{
display: flex;
flex-direction: row;
margin:50px;
padding:60px;
border:5px solid black;
text-align: justify;
background-color:#ffe6e6;
position: relative;
max-height:600px;
width:auto;
justify-content: space-between;

}

.solution3_info p
{
  margin:0px;
 text-align: justify;
 position: left;
  padding-bottom:60px;
}


.solution4
{
display: flex;
flex-direction: row;
margin:50px;
padding:60px;
border:5px solid black;
text-align: justify;
background-color:#ffe6e6;
position: relative;
max-height:900px;
width:auto;
justify-content: space-between;

}

.solution4_info p
{
  margin:0px;
 text-align: justify;
 position: left;
  padding-bottom:60px;
}
